.App {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

dl {
  padding-left: 1em;
}

.bank-row {
  border: 1px solid #697385;
  background-color: #3c424e;
  padding: 1em;
}

.relay-row {
  /* border: 1px solid white; */
  background-color: #282c34;
  margin: 0.25em;
  padding: 0.25em;
}